* {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  height: 100vh;
  padding: 12px;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
}

ul.tabs li {
	float: left;
  margin: 0;
  margin-right: 2px;
	cursor: pointer;
	padding: 0px 21px;
  height: 40px;
  width: 150px;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
	background-color: var(--header-background);
  color: var(--header-color);
  border-bottom: 1px solid var(--header-border);
  font-weight: 400;
}

ul.tabs li.active {
	background-color: var(--header-background-active);
	color: var(--header-color-active);
	border-bottom: 2px solid var(--header-border-active)
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: 1px solid var(--container-border);
  border-top: none;
  color: var(--color);
	width: 454px;
  padding: 24px 0 40px 16px; 
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {

	.tabs {
		display: none;
  }

	.tab_drawer_heading {
		display: grid;
		background-color: var(--header-background);
		color: var(--header-color);
    margin: 0;
    margin-bottom: 2px;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
  }

  .container {
    border: none;
    width: auto;
    padding: 10px 16px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  h3 {
    justify-items: center;
    align-items: center;
    height: 50px;
    font-size: 0.8rem;
  }

	.d_active {
		background-color: var(--header-background-active);
	  color: var(--header-color-active);
	  border-bottom: 2px solid var(--header-border-active)
  }
  span {
    grid-column: span 2;
  }
}