:root {
  --color: rgb(112, 112, 112);
}

:root {
  --header-color: rgb(92, 92, 92);
}

:root {
  --header-color-active: rgb(98, 0, 238);
}

:root {
  --header-background: rgb(229, 229, 229);
}

:root {
  --header-background-active: rgb(236, 224, 253);
}

:root {
  --header-border: rgb(212,212,212);
}

:root {
  --header-border-active: rgb(97, 1, 237);
}

:root {
  --container-border: rgb(152,152,152);
}